* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */
.navbar {
  background-color: crimson;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 5px 0;
  font-family: inherit;
  transition: all 0.3s ease;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: rgb(8, 252, 0);
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Home Content */
.home {
  display: flex;
  background: url("./image/bg.png") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: inherit;
}
.home .max-width {
  width: 100%;
  display: flex;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 75px;
  font-weight: 600;
}
.home .home-content .text-2 {
  font-size: 75px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: crimson;
  background: none;
}

/* My Account */
.account {
  overflow-x: auto;
  display: flex;
  background: url("./image/bg.png") no-repeat center;
  height: 100vh;
  color: rgb(0, 0, 0);
  min-height: 500px;
  align-content: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: inherit;
}
.account .max-width {
  align-items: center;
  width: 100%;
  display: flex;
}
.account .max-width .row {
  margin-right: 0;
}
.account .user-account .text-1 {
  font-size: 70px;
  font-weight: 600;
  color: black;
  background-color: wheat;
  border-radius: 10rem;
  border: black;
}
.account .user-account .text-2 {
  font-size: 40px;
}

table {
  background-color: brown;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  margin-bottom: auto;
  font-size: 20px;
}
table.center {
  margin-left:auto; 
  margin-right:auto;
}
th,
td {
  color:azure;
  text-align: left;
  padding: 5px 20px
}
.left{
  background-color:  rgb(255, 204, 0) ;
}
th {
  color: black;
  background-color: goldenrod;
}

td {
  background-color: #f5c799;
  color: black;
}

/* Book Request */
.bookreq {
  overflow-x: auto;
  display: flex;
  background: url("./image/bg.png") no-repeat center;
  height: 100vh;
  color: rgb(0, 0, 0);
  min-height: 500px;
  align-content: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: inherit;
}
.bookreq .max-width {
  align-items: center;
  width: 100%;
  display: flex;
}
.bookreq .max-width .row {
  margin-right: 0;
}
.bookreq .requestbook .text-1 {
  font-size: 70px;
  font-weight: 600;
  color: black;
  background-color: wheat;
  border-radius: 10rem;
  border: black;
}
.bookreq .requestbook button {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 15px;
  padding: 12px 30px;
  margin-top: 0px;
  font-weight: 200;
  border-radius: 10px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.bookreq .requestbook button:hover {
  color: black;
  background: none;
}

/* Return Book */
.bookrep {
  overflow-x: auto;
  display: flex;
  background: url("./image/bg.png") no-repeat center;
  height: 100vh;
  color: rgb(0, 0, 0);
  min-height: 500px;
  align-content: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: inherit;
}
.bookrep .max-width {
  align-items: center;
  width: 100%;
  display: flex;
}
.bookrep .max-width .row {
  margin-right: 0;
}
.bookrep .bookreport .text-1 {
  font-size: 70px;
  font-weight: 600;
  color: black;
  background-color: wheat;
  border-radius: 10rem;
  border: black;
}
.bookrep .bookreport button {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 15px;
  padding: 12px 30px;
  margin-top: 0px;
  font-weight: 200;
  border-radius: 10px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.bookrep .bookreport button:hover {
  color: black;
  background: none;
}

/* Ebooks */
.ebooks {
  overflow-x: auto;
  display: flex;
  background: url("./image/bg.png") no-repeat center;
  height: 100vh;
  color: rgb(0, 0, 0);
  min-height: 500px;
  align-content: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: inherit;
}
.ebooks .max-width {
  align-items: center;
  width: 100%;
  display: flex;
}
.left{
  background-color:  rgb(255, 204, 0) ;
}
.ebooks a{
  color:rgb(8, 8, 8);
}
.ebooks a:hover{
  color:goldenrod;
}
/* Footer */
footer {
  background: rgb(0, 0, 0);
  padding: 10px 3px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: crimson;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
  color: rgb(0, 211, 248);
}

/* Media Query */
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}
